<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link href="../../static/css/index.css" rel="stylesheet" />

   <style>
       body{
           background: url(https://i.ibb.co/Jz5LVw8/Untitled-1.png) no-repeat center;
           background-size: cover;
       }
   </style>
</head>

<body style="background: url(https://i.ibb.co/Jz5LVw8/Untitled-1.png) no-repeat center; background-size: cover;" >

    <div class="container">
        <div class="jumbotron" style="text-align: center; background-color: rgb(49, 46, 46); opacity: 0.7;">
            <h3 style="color: rgb(255, 255, 255);">hello {{username}}! you have successfully registered</h3>
            </tr>
        </div>
    </div>
    <div class="container" style="margin-top: 30px; ">
       

        <div class="col-xs-6 col-md-3">
            <div class="thumbnail">

            
                <div class="caption card-body" style="margin-left: 30px;">
                    <h3 style="color: ghostwhite; margin-left: 30px;">This is your login information</h3>
                    <ul style="color: ghostwhite;">
                        <li>username = {{username}}</li>
                        <li>password = {{password}}</li>
                        <li>email    = {{email}}</li>
                    </ul>
                    <p style="background-color: ghostwhite; opacity: 0.7; color: crimson;">Please change your password after first login.</p>
                   
                </div>
            </div>
        </div>





    </div>



    <!--Footer-->
    <footer>
        <div class="container">
            <center>
                <p style="color: ghostwhite;">Copyright &copy; stufa All Rights Reserved | Contact Us: +91 90000 00000</p>
            </center>
        </div>
    </footer>
    <!--Footer end-->


</body>

</html>